In [16]:
import csv
import numpy
import pandas as pd
from sklearn.decomposition import PCA
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import re
import os, sys
from math import sqrt

In [4]:
def get_data_about_smb(input_file, names, *parameters):
    data = []
    for name in names:
        with open(input_file, mode = 'r') as csvfile:
            reader = csv.DictReader(csvfile) 
            for row in reader:
                if (row['Mark'] == name):
                    d = {'Mark' : name}
                    for par in parameters:
                        if par[1] == 'int':
                            d[par[0]] = int(row[par[0]].replace(' ', ''))
                        else:
                            d[par[0]] = str(row[par[0]])
                    data.append(d)

    return data

In [5]:
data = pd.DataFrame(get_data_about_smb('DATA1.csv', ['A4'], ['Run', 'int'], ['Year', 'int'], ['Cost', 'int']))

In [6]:
print(data)

    Mark     Run  Year   Cost
0     A4  247000  2001   6500
1     A4  407000  1998   3350
2     A4  245000  2002   5550
3     A4   77000  2013  11750
4     A4  122272  2014  11850
..   ...     ...   ...    ...
269   A4  297000  2000   5350
270   A4  401000  2006   6200
271   A4  270573  2004   7000
272   A4  331000  1999   4500
273   A4  320000  2007   7750

[274 rows x 4 columns]

In [10]:
d = data.loc[3]
d['Year']

2013

In [106]:
def coefficient(d, year, run):    
    d_y = d['Year']
    d_r = d['Run']
    C = 1
    
    C_1 = (1/(max(1, abs(d['Year']-year)))**(1/4))
    if d_y < year:
        C *= C_1
    else:
        C /= C_1
        
    C_2 = (5000/(max(abs(run - d_r), 5000)))**(1/10)
    
    if d_r > run:
        C *= C_2
    else:
        C /= C_2

    return C

C = 0
cnt = 0
for x in range(len(data.index)):

    d = data.loc[x]
    print(d)
    c = coefficient(d, 1996, 218000)
    print(1/c)
    if abs(1/c-1) < 0.4:
        C += d['Cost']/c
        cnt += 1

print(C/cnt)

Mark      Polo
Run     221000
Year      2003
Cost      3599
Name: 0, dtype: object
0.6147881529512644
Mark      Polo
Run     345000
Year      2003
Cost      3650
Name: 1, dtype: object
0.8495889626063633
Mark      Polo
Run     244000
Year      1999
Cost      2700
Name: 2, dtype: object
0.8960247804760978
Mark      Polo
Run     333333
Year      1982
Cost       456
Name: 3, dtype: object
2.6474658535281708
Mark      Polo
Run     214000
Year      2000
Cost      2700
Name: 4, dtype: object
0.7071067811865475
Mark      Polo
Run     288877
Year      2002
Cost      2950
Name: 5, dtype: object
0.8329438379506954
Mark      Polo
Run     168098
Year      2008
Cost      5000
Name: 6, dtype: object
0.42686435781535187
Mark      Polo
Run     147000
Year      2003
Cost      5100
Name: 7, dtype: object
0.47151624024097255
Mark      Polo
Run     297500
Year      1998
Cost      1100
Name: 8, dtype: object
1.1088740329771676
Mark     Polo
Run     50000
Year     1991
Cost     1000
Name: 9, dtype: object
1.052224896500843
Mark      Polo
Run     209102
Year      2010
Cost      5700
Name: 10, dtype: object
0.4880178995486021
Mark      Polo
Run     200000
Year      1997
Cost      1850
Name: 11, dtype: object
0.8797712182724419
Mark      Polo
Run     211000
Year      2007
Cost      5399
Name: 12, dtype: object
0.5309321509665821
Mark      Polo
Run     117000
Year      2010
Cost      5500
Name: 13, dtype: object
0.3827655597160901
Mark      Polo
Run     300000
Year      1998
Cost      1500
Name: 14, dtype: object
1.1123126744272556
Mark     Polo
Run     52144
Year     2008
Cost     7800
Name: 15, dtype: object
0.378554636898138
Mark      Polo
Run     176000
Year      1998
Cost      2250
Name: 16, dtype: object
0.6796957783315886
Mark      Polo
Run     122000
Year      2014
Cost      7800
Name: 17, dtype: object
0.36128651416958374
Mark    Polo
Run      300
Year    1998
Cost    1040
Name: 18, dtype: object
0.5765721468895413
Mark      Polo
Run     168000
Year      2015
Cost      9750
Name: 19, dtype: object
0.38046227437808383
Mark      Polo
Run     200000
Year      1996
Cost      1400
Name: 20, dtype: object
0.8797712182724419
Mark      Polo
Run     290000
Year      2003
Cost      3800
Name: 21, dtype: object
0.802715666640608
Mark      Polo
Run     150000
Year      2010
Cost      6200
Name: 22, dtype: object
0.39821177720755563
Mark      Polo
Run     183000
Year      2002
Cost      4500
Name: 23, dtype: object
0.5259595963526126
Mark      Polo
Run     397000
Year      1992
Cost       912
Name: 24, dtype: object
2.0225687857275183
Mark      Polo
Run     221000
Year      2003
Cost      3599
Name: 25, dtype: object
0.6147881529512644
Mark      Polo
Run     345000
Year      2003
Cost      3650
Name: 26, dtype: object
0.8495889626063633
Mark      Polo
Run     244000
Year      1999
Cost      2700
Name: 27, dtype: object
0.8960247804760978
Mark      Polo
Run     333333
Year      1982
Cost       456
Name: 28, dtype: object
2.6474658535281708
Mark      Polo
Run     214000
Year      2000
Cost      2700
Name: 29, dtype: object
0.7071067811865475
Mark      Polo
Run     288877
Year      2002
Cost      2950
Name: 30, dtype: object
0.8329438379506954
Mark      Polo
Run     168098
Year      2008
Cost      5000
Name: 31, dtype: object
0.42686435781535187
Mark      Polo
Run     147000
Year      2003
Cost      5100
Name: 32, dtype: object
0.47151624024097255
Mark      Polo
Run     297500
Year      1998
Cost      1100
Name: 33, dtype: object
1.1088740329771676
Mark     Polo
Run     50000
Year     1991
Cost     1000
Name: 34, dtype: object
1.052224896500843
Mark      Polo
Run     209102
Year      2010
Cost      5700
Name: 35, dtype: object
0.4880178995486021
Mark      Polo
Run     200000
Year      1997
Cost      1850
Name: 36, dtype: object
0.8797712182724419
Mark      Polo
Run     211000
Year      2007
Cost      5399
Name: 37, dtype: object
0.5309321509665821
Mark      Polo
Run     117000
Year      2010
Cost      5500
Name: 38, dtype: object
0.3827655597160901
Mark      Polo
Run     300000
Year      1998
Cost      1500
Name: 39, dtype: object
1.1123126744272556
Mark     Polo
Run     52144
Year     2008
Cost     7800
Name: 40, dtype: object
0.378554636898138
Mark      Polo
Run     176000
Year      1998
Cost      2250
Name: 41, dtype: object
0.6796957783315886
Mark      Polo
Run     122000
Year      2014
Cost      7800
Name: 42, dtype: object
0.36128651416958374
Mark    Polo
Run      300
Year    1998
Cost    1040
Name: 43, dtype: object
0.5765721468895413
Mark      Polo
Run     168000
Year      2015
Cost      9750
Name: 44, dtype: object
0.38046227437808383
Mark      Polo
Run     200000
Year      1996
Cost      1400
Name: 45, dtype: object
0.8797712182724419
Mark      Polo
Run     290000
Year      2003
Cost      3800
Name: 46, dtype: object
0.802715666640608
Mark      Polo
Run     150000
Year      2010
Cost      6200
Name: 47, dtype: object
0.39821177720755563
Mark      Polo
Run     183000
Year      2002
Cost      4500
Name: 48, dtype: object
0.5259595963526126
Mark      Polo
Run     397000
Year      1992
Cost       912
Name: 49, dtype: object
2.0225687857275183
Mark      Polo
Run     101000
Year      2009
Cost      5900
Name: 50, dtype: object
0.3842311549061593
Mark      Polo
Run     290000
Year      1998
Cost       550
Name: 51, dtype: object
1.097940360928835
Mark      Polo
Run     203000
Year      2001
Cost      2750
Name: 52, dtype: object
0.5991635336801167
Mark      Polo
Run     249318
Year      2004
Cost      4000
Name: 53, dtype: object
0.7143481178473337
Mark      Polo
Run     193000
Year      2008
Cost      5290
Name: 54, dtype: object
0.4574121412509095
Mark      Polo
Run     140000
Year      2011
Cost      6000
Name: 55, dtype: object
0.38606881751084643
Mark     Polo
Run     93072
Year     2015
Cost     7900
Name: 56, dtype: object
0.3471703453564902
Mark      Polo
Run     256000
Year      2008
Cost      4550
Name: 57, dtype: object
0.6580911458520513
Mark      Polo
Run     310000
Year      1998
Cost      2600
Name: 58, dtype: object
1.1251859054819497
Mark      Polo
Run     256800
Year      1999
Cost      2400
Name: 59, dtype: object
0.9326224347652535
Mark      Polo
Run     132000
Year      2009
Cost      5950
Name: 60, dtype: object
0.3962427391986897
Mark      Polo
Run     156000
Year      2008
Cost      5599
Name: 61, dtype: object
0.4176981194231418
Mark      Polo
Run     239222
Year      2007
Cost      4950
Name: 62, dtype: object
0.6345026778049289
Mark      Polo
Run     268000
Year      1997
Cost      2650
Name: 63, dtype: object
1.2589254117941673
Mark      Polo
Run     212000
Year      2001
Cost      2450
Name: 64, dtype: object
0.6566582036867601
Mark      Polo
Run     310000
Year      1995
Cost      1250
Name: 65, dtype: object
1.3380790844999138
Mark      Polo
Run     150000
Year      2009
Cost      4000
Name: 66, dtype: object
0.4056582110481763
Mark      Polo
Run     290000
Year      1999
Cost      1900
Name: 67, dtype: object
0.9921011099794115
Mark      Polo
Run     333333
Year      2000
Cost      1950
Name: 68, dtype: object
0.967794970086202
Mark      Polo
Run     349000
Year      1999
Cost      1950
Name: 69, dtype: object
1.0532944976271192
Mark      Polo
Run     168000
Year      2007
Cost      5400
Name: 70, dtype: object
0.4361660203471131
Mark      Polo
Run     129000
Year      2009
Cost      8000
Name: 71, dtype: object
0.3948863862918704
Mark      Polo
Run     325000
Year      1995
Cost      1400
Name: 72, dtype: object
1.3584428658411765
Mark      Polo
Run     300000
Year      1999
Cost      2350
Name: 73, dtype: object
1.0050879612530932
Mark      Polo
Run     214000
Year      2002
Cost      2500
Name: 74, dtype: object
0.6389431042462724
Mark      Polo
Run     143000
Year      2002
Cost      3650
Name: 75, dtype: object
0.4873635683938298
Mark      Polo
Run     191000
Year      2006
Cost      4750
Name: 76, dtype: object
0.47507330116770385
Mark      Polo
Run     276000
Year      2002
Cost      3650
Name: 77, dtype: object
0.8164093809394591
Mark      Polo
Run     198525
Year      2001
Cost      2550
Name: 78, dtype: object
0.5837229286133557
Mark      Polo
Run     270000
Year      1998
Cost      2300
Name: 79, dtype: object
1.0627860248789807
Mark      Polo
Run     274000
Year      2002
Cost      2500
Name: 80, dtype: object
0.8135495134320804
Mark      Polo
Run     252253
Year      1993
Cost       700
Name: 81, dtype: object
1.5953397072082423
Mark      Polo
Run     145000
Year      2010
Cost      5700
Name: 82, dtype: object
0.39539639514291985
Mark      Polo
Run     226067
Year      2007
Cost      4060
Name: 83, dtype: object
0.576004709071956
Mark      Polo
Run     212000
Year      2008
Cost      5000
Name: 84, dtype: object
0.5275778623750887
Mark      Polo
Run     122000
Year      2010
Cost      6300
Name: 85, dtype: object
0.3847138913510536
Mark      Polo
Run     236738
Year      2001
Cost      1973
Name: 86, dtype: object
0.7631902648729453
Mark      Polo
Run     250000
Year      2001
Cost      3000
Name: 87, dtype: object
0.8051475881334458
Mark      Polo
Run     141000
Year      2007
Cost      4350
Name: 88, dtype: object
0.4177339346319334
Mark      Polo
Run     230000
Year      2008
Cost      4550
Name: 89, dtype: object
0.5864430079760339
Mark      Polo
Run     250000
Year      1999
Cost      2888
Name: 90, dtype: object
0.914824282501819
Mark      Polo
Run     145000
Year      2010
Cost      6000
Name: 91, dtype: object
0.39539639514291985
Mark      Polo
Run     178000
Year      2007
Cost      3800
Name: 92, dtype: object
0.44600818622427274
Mark      Polo
Run     345321
Year      2002
Cost      3399
Name: 93, dtype: object

0.8831921312262514
Mark      Polo
Run     354000
Year      2000
Cost      2600
Name: 94, dtype: object
0.9838794565405261
Mark      Polo
Run     260000
Year      1997
Cost      1950
Name: 95, dtype: object
1.2371658645840293
Mark      Polo
Run     300000
Year      1997
Cost      1200
Name: 96, dtype: object
1.3227701465365975
Mark      Polo
Run     139000
Year      2008
Cost      4608
Name: 97, dtype: object
0.40769837438373685
Mark      Polo
Run     253646
Year      2004
Cost      3650
Name: 98, dtype: object
0.723655026559336
Mark      Polo
Run     199000
Year      2008
Cost      4500
Name: 99, dtype: object
0.4701390536902461
Mark      Polo
Run     100000
Year      2009
Cost      5500
Name: 100, dtype: object
0.3839042868075216
Mark      Polo
Run     130000
Year      2007
Cost      4800
Name: 101, dtype: object
0.41219295231484615
Mark      Polo
Run     152000
Year      2008
Cost      5200
Name: 102, dtype: object
0.4150948023649111
Mark      Polo
Run     234567
Year      1997
Cost      1800
Name: 103, dtype: object
1.1272685399578821
Mark      Polo
Run     247305
Year      1998
Cost      2999
Name: 104, dtype: object
1.0035515203654302
Mark      Polo
Run     280000
Year      1996
Cost       700
Name: 105, dtype: object
1.2862997004960988
Mark      Polo
Run     245000
Year      1998
Cost      1950
Name: 106, dtype: object
0.9953638803513009
Mark      Polo
Run     119000
Year      2010
Cost      6300
Name: 107, dtype: object
0.38353188244757663
Mark      Polo
Run     145000
Year      2006
Cost      4550
Name: 108, dtype: object
0.4300953175579736
Mark     Polo
Run     88650
Year     1996
Cost     1391
Name: 109, dtype: object
0.7223045608372922
Mark      Polo
Run     280000
Year      2003
Cost      2999
Name: 110, dtype: object
0.7908018170097613
Mark      Polo
Run     157000
Year      2008
Cost      6000
Name: 111, dtype: object
0.4183778708278608
Mark     Polo
Run     58000
Year     2008
Cost     5000
Name: 112, dtype: object
0.3799178428257962
Mark      Polo
Run     100000
Year      1997
Cost       800
Name: 113, dtype: object
0.7289685631144157
Mark      Polo
Run     174000
Year      2011
Cost      7400
Name: 114, dtype: object
0.4088169727752864
Mark     Polo
Run     63000
Year     2009
Cost     6000
Name: 115, dtype: object
0.37357516121288215
Mark    Polo
Run      350
Year    1990
Cost    1000
Name: 116, dtype: object
1.0731463329508266
Mark      Polo
Run     187000
Year      2011
Cost      6300
Name: 117, dtype: object
0.42338748481999305
Mark      Polo
Run     152000
Year      2004
Cost      3650
Name: 118, dtype: object
0.4593779127388253
Mark      Polo
Run     200000
Year      1996
Cost      1200
Name: 119, dtype: object
0.8797712182724419
Mark      Polo
Run     105000
Year      2011
Cost      7436
Name: 120, dtype: object
0.3720200453157425
Mark    Polo
Run        1
Year    1982
Cost     306
Name: 121, dtype: object
1.3261222420443486
Mark      Polo
Run     194589
Year      2001
Cost      3600
Name: 122, dtype: object
0.5730763720448926
Mark      Polo
Run     125000
Year      2011
Cost      8500
Name: 123, dtype: object
0.37933759881517515
Mark      Polo
Run     260000
Year      2000
Cost      1500
Name: 124, dtype: object
0.8748083722998852
Mark      Polo
Run     280876
Year      1991
Cost      1000
Name: 125, dtype: object
1.9261672356303134
Mark    Polo
Run      125
Year    1996
Cost    1450
Name: 126, dtype: object
0.6856086060877504
Mark      Polo
Run     227000
Year      1995
Cost      1962
Name: 127, dtype: object
1.0605404816140187
Mark     Polo
Run     44000
Year     2015
Cost    11406
Name: 128, dtype: object
0.33585643622377026
Mark    Polo
Run      156
Year    2006
Cost    4999
Name: 129, dtype: object
0.3855515382196859
Mark      Polo
Run     180000
Year      1997
Cost      1900
Name: 130, dtype: object
0.8164294099658966
Mark      Polo
Run     214000
Year      2003
Cost      3650
Name: 131, dtype: object
0.6147881529512644
Mark      Polo
Run     182000
Year      2008
Cost      4500
Name: 132, dtype: object
0.4410333578339179
Mark      Polo
Run     100000
Year      1993
Cost       400
Name: 133, dtype: object
0.9593765821742014
Mark      Polo
Run     200000
Year      2007
Cost      5475
Name: 134, dtype: object
0.4830828042050113
Mark      Polo
Run     120000
Year      2009
Cost      6500
Name: 135, dtype: object
0.39110066535225924
Mark      Polo
Run     375000
Year      1997
Cost      2300
Name: 136, dtype: object
1.4115392692949342
Mark     Polo
Run     76000
Year     2008
Cost     7500
Name: 137, dtype: object
0.3844792041388589
Mark      Polo
Run     300000
Year      1997
Cost      1300
Name: 138, dtype: object
1.3227701465365975
Mark      Polo
Run     144000
Year      2010
Cost      5700
Name: 139, dtype: object
0.3948587983659427
Mark      Polo
Run     450000
Year      1998
Cost      1600
Name: 140, dtype: object
1.2342248865096312
Mark      Polo
Run     300000
Year      1997
Cost      1450
Name: 141, dtype: object
1.3227701465365975
Mark      Polo
Run     220000
Year      2005
Cost      4050
Name: 142, dtype: object
0.5773502691896258
Mark      Polo
Run     211000
Year      2005
Cost      4850
Name: 143, dtype: object
0.5582472200702453
Mark      Polo
Run     200000
Year      1996
Cost      1500
Name: 144, dtype: object
0.8797712182724419
Mark      Polo
Run     173200
Year      2001
Cost      3400
Name: 145, dtype: object
0.5370648110394143
Mark      Polo
Run     240000
Year      2002
Cost      3700
Name: 146, dtype: object
0.7409816534164777
Mark      Polo
Run     123000
Year      2010
Cost      6000
Name: 147, dtype: object
0.38511694779241307
Mark      Polo
Run     215876
Year      1998
Cost      1300
Name: 148, dtype: object
0.8408964152537146
Mark      Polo
Run     238000
Year      2007
Cost      3900
Name: 149, dtype: object
0.6307508258877915
Mark      Polo
Run     285000
Year      2001
Cost      3300
Name: 150, dtype: object
0.8668979555875495
Mark      Polo
Run     226000
Year      1998
Cost      1250
Name: 151, dtype: object
0.8813623600516043
Mark      Polo
Run     278000
Year      2000
Cost      2750
Name: 152, dtype: object
0.9065737227377666
Mark      Polo
Run     112900
Year      2002
Cost      2400
Name: 153, dtype: object
0.4711930935746129
Mark     Polo
Run     90000
Year     2008
Cost     5900
Name: 154, dtype: object
0.38849075830831914
Mark    Polo
Run      170
Year    2004
Cost    2900
Name: 155, dtype: object
0.4076737371276301
Mark    Polo
Run      111
Year    2001
Cost    3100
Name: 156, dtype: object
0.4584911622868172
Mark      Polo
Run     170000
Year      1998
Cost      2950
Name: 157, dtype: object
0.6706800341544903
Mark      Polo
Run     299000
Year      2008
Cost      5200
Name: 158, dtype: object
0.7098330068553712
Mark     Polo
Run     99000
Year     2010
Cost     6250
Name: 159, dtype: object
0.37653928653796076
Mark      Polo
Run     280000
Year      2004
Cost      3700
Name: 160, dtype: object
0.764838377927915
Mark      Polo
Run     210000
Year      1999
Cost      2000
Name: 161, dtype: object
0.7249493888176277
Mark      Polo
Run     220000
Year      1999
Cost      2200
Name: 162, dtype: object
0.7598356856515925
Mark      Polo
Run     271000
Year      2003
Cost      2950
Name: 163, dtype: object
0.7784954462212097
Mark     Polo
Run     65000
Year     2018
Cost    10037
Name: 164, dtype: object
0.32796098880703906
Mark    Polo
Run      200
Year    1991
Cost     500
Name: 165, dtype: object
1.025259291895177
Mark      Polo
Run     340000
Year      2002
Cost      4000
Name: 166, dtype: object
0.8794297841627992
Mark      Polo
Run     255000
Year      2006
Cost      3900
Name: 167, dtype: object
0.686946906248423
Mark      Polo
Run     300000
Year      1997
Cost       750
Name: 168, dtype: object
1.3227701465365975
Mark      Polo
Run     176000
Year      2008
Cost      3800
Name: 169, dtype: object
0.4342869305502715
Mark    Polo
Run        0
Year    2008
Cost    4950
Name: 170, dtype: object
0.3683460691263643
Mark      Polo
Run     114000
Year      2011
Cost      5500
Name: 171, dtype: object
0.37512054589547517
Mark      Polo
Run     121000
Year      2010
Cost      6400
Name: 172, dtype: object
0.384315427034186
Mark      Polo
Run     180000
Year      2008
Cost      4900
Name: 173, dtype: object
0.438655247702894
Mark    Polo
Run      211
Year    1997
Cost     500
Name: 174, dtype: object
0.6856356744270304
Mark      Polo
Run     247000
Year      1995
Cost      1300
Name: 175, dtype: object
1.1921826559427973
Mark    Polo
Run      317
Year    2001
Cost    2800
Name: 176, dtype: object
0.45853453222497054
Mark      Polo
Run     260000
Year      2002
Cost      3000
Name: 177, dtype: object
0.7904785979848433
Mark      Polo
Run     275300
Year      1998
Cost       950
Name: 178, dtype: object
1.0731513169094649
Mark      Polo
Run     170000
Year      2007
Cost      4600
Name: 179, dtype: object
0.43795017619873666
Mark      Polo
Run     235000
Year      1998
Cost      1699
Name: 180, dtype: object
0.9503649103553281
Mark    Polo
Run        1
Year    1991
Cost     500
Name: 181, dtype: object
1.0251656628152428
Mark      Polo
Run     324000
Year      1996
Cost       958
Name: 182, dtype: object
1.3571679219254325
Mark      Polo
Run     320000
Year      1999
Cost      2000
Name: 183, dtype: object
1.027265500432524
Mark    Polo
Run      165
Year    2007
Cost    4500
Name: 184, dtype: object
0.37647493167184193
Mark      Polo
Run     500000
Year      2001
Cost      3500
Name: 185, dtype: object
1.000887831631258
Mark      Polo
Run     140000
Year      2010
Cost      6400
Name: 186, dtype: object
0.3927855761273768
Mark      Polo
Run     178000
Year      2004
Cost      3700
Name: 187, dtype: object
0.48296816446242274
Mark    Polo
Run      100
Year    2001
Cost    2300
Name: 188, dtype: object
0.4584888476850003
Mark      Polo
Run     152000
Year      2008
Cost      5250
Name: 189, dtype: object
0.4150948023649111
Mark      Polo
Run     291000
Year      1997
Cost      1700
Name: 190, dtype: object
1.3074806961006957

Mark      Polo
Run     299000
Year      1998
Cost      1000
Name: 191, dtype: object
1.1109486934563975
Mark      Polo
Run     245000
Year      2007
Cost      3900
Name: 192, dtype: object
0.6499668464579593
Mark    Polo
Run      280
Year    1998
Cost    1350
Name: 193, dtype: object
0.5765668502150757
Mark      Polo
Run     299561
Year      1995
Cost       700
Name: 194, dtype: object
1.322060268685198
Mark      Polo
Run     300000
Year      2003
Cost      4000
Name: 195, dtype: object
0.8132234151683082
Mark     Polo
Run     52000
Year     2008
Cost     7800
Name: 196, dtype: object
0.37852178559769045
Mark      Polo
Run     300000
Year      2002
Cost      3000
Name: 197, dtype: object
0.8451748636323905
Mark      Polo
Run     280000
Year      1997
Cost      1900
Name: 198, dtype: object
1.2862997004960988
Mark      Polo
Run     218000
Year      1996
Cost      1400
Name: 199, dtype: object
1.0
1953.2193876952074

In [74]:
data2 = pd.DataFrame(get_data_about_smb('DATA1.csv', ['Polo'], ['Run', 'int'], ['Year', 'int'], ['Cost', 'int']))

In [75]:
print(data2)

     Mark     Run  Year  Cost
0    Polo  221000  2003  3599
1    Polo  345000  2003  3650
2    Polo  244000  1999  2700
3    Polo  333333  1982   456
4    Polo  214000  2000  2700
..    ...     ...   ...   ...
195  Polo  300000  2003  4000
196  Polo   52000  2008  7800
197  Polo  300000  2002  3000
198  Polo  280000  1997  1900
199  Polo  218000  1996  1400

[200 rows x 4 columns]

In [114]:
def coefficient(d, year, run):    
    d_y = d['Year']
    d_r = d['Run']
    C = 1
    
    C_1 = (1/(max(1, abs(d['Year']-year)))**(1/5))
    if d_y < year:
        C *= C_1
    else:
        C /= C_1
        
    C_2 = (10000/(max(abs(run - d_r), 10000)))**(1/12)
    
    if d_r > run:
        C *= C_2
    else:
        C /= C_2

    return C

C = 0
cnt = 0
for x in range(len(data2.index)):

    d = data2.loc[x]
    print(d)
    c = coefficient(d, 2016, 30000)
    print(c)
    if abs(c-1) < 0.1:
        C += d['Cost']/c
        cnt += 1

print(C/cnt)

Mark      Polo
Run     221000
Year      2003
Cost      3599
Name: 0, dtype: object
0.468229259284052
Mark      Polo
Run     345000
Year      2003
Cost      3650
Name: 1, dtype: object
0.4491093706786185
Mark      Polo
Run     244000
Year      1999
Cost      2700
Name: 2, dtype: object
0.43958453110239015
Mark      Polo
Run     333333
Year      1982
Cost       456
Name: 3, dtype: object
0.3717157059615222
Mark      Polo
Run     214000
Year      2000
Cost      2700
Name: 4, dtype: object
0.45058270532075306
Mark      Polo
Run     288877
Year      2002
Cost      2950
Name: 5, dtype: object
0.44979705119501634
Mark      Polo
Run     168098
Year      2008
Cost      5000
Name: 6, dtype: object
0.5301104760621597
Mark      Polo
Run     147000
Year      2003
Cost      5100
Name: 7, dtype: object
0.48774838612065863
Mark      Polo
Run     297500
Year      1998
Cost      1100
Name: 8, dtype: object
0.4265813360555693
Mark     Polo
Run     50000
Year     1991
Cost     1000
Name: 9, dtype: object
0.4958224252241927
Mark      Polo
Run     209102
Year      2010
Cost      5700
Name: 10, dtype: object
0.5494709208886716
Mark      Polo
Run     200000
Year      1997
Cost      1850
Name: 11, dtype: object
0.43823985346545113
Mark      Polo
Run     211000
Year      2007
Cost      5399
Name: 12, dtype: object
0.5062265865995061
Mark      Polo
Run     117000
Year      2010
Cost      5500
Name: 13, dtype: object
0.5835478574844215
Mark      Polo
Run     300000
Year      1998
Cost      1500
Name: 14, dtype: object
0.42625077860522265
Mark     Polo
Run     52144
Year     2008
Cost     7800
Name: 15, dtype: object
0.6174626083829596
Mark      Polo
Run     176000
Year      1998
Cost      2250
Name: 16, dtype: object
0.44865870072359787
Mark      Polo
Run     122000
Year      2014
Cost      7800
Name: 17, dtype: object
0.7235663285478712
Mark    Polo
Run      300
Year    1998
Cost    1040
Name: 18, dtype: object
0.6142453391313734
Mark      Polo
Run     168000
Year      2015
Cost      9750
Name: 19, dtype: object
0.8035447651353267
Mark      Polo
Run     200000
Year      1996
Cost      1400
Name: 20, dtype: object
0.43376708184752055
Mark      Polo
Run     290000
Year      2003
Cost      3800
Name: 21, dtype: object
0.4563487695414208
Mark      Polo
Run     150000
Year      2010
Cost      6200
Name: 22, dtype: object
0.5681172542682441
Mark      Polo
Run     183000
Year      2002
Cost      4500
Name: 23, dtype: object
0.46994832602208403
Mark      Polo
Run     397000
Year      1992
Cost       912
Name: 24, dtype: object
0.39225538368559665
Mark      Polo
Run     221000
Year      2003
Cost      3599
Name: 25, dtype: object
0.468229259284052
Mark      Polo
Run     345000
Year      2003
Cost      3650
Name: 26, dtype: object
0.4491093706786185
Mark      Polo
Run     244000
Year      1999
Cost      2700
Name: 27, dtype: object
0.43958453110239015
Mark      Polo
Run     333333
Year      1982
Cost       456
Name: 28, dtype: object
0.3717157059615222
Mark      Polo
Run     214000
Year      2000
Cost      2700
Name: 29, dtype: object
0.45058270532075306
Mark      Polo
Run     288877
Year      2002
Cost      2950
Name: 30, dtype: object
0.44979705119501634
Mark      Polo
Run     168098
Year      2008
Cost      5000
Name: 31, dtype: object
0.5301104760621597
Mark      Polo
Run     147000
Year      2003
Cost      5100
Name: 32, dtype: object
0.48774838612065863
Mark      Polo
Run     297500
Year      1998
Cost      1100
Name: 33, dtype: object
0.4265813360555693
Mark     Polo
Run     50000
Year     1991
Cost     1000
Name: 34, dtype: object
0.4958224252241927
Mark      Polo
Run     209102
Year      2010
Cost      5700
Name: 35, dtype: object
0.5494709208886716
Mark      Polo
Run     200000
Year      1997
Cost      1850
Name: 36, dtype: object
0.43823985346545113
Mark      Polo
Run     211000
Year      2007
Cost      5399
Name: 37, dtype: object
0.5062265865995061
Mark      Polo
Run     117000
Year      2010
Cost      5500
Name: 38, dtype: object
0.5835478574844215
Mark      Polo
Run     300000
Year      1998
Cost      1500
Name: 39, dtype: object
0.42625077860522265
Mark     Polo
Run     52144
Year     2008
Cost     7800
Name: 40, dtype: object
0.6174626083829596
Mark      Polo
Run     176000
Year      1998
Cost      2250
Name: 41, dtype: object
0.44865870072359787
Mark      Polo
Run     122000
Year      2014
Cost      7800
Name: 42, dtype: object
0.7235663285478712
Mark    Polo
Run      300
Year    1998
Cost    1040
Name: 43, dtype: object
0.6142453391313734
Mark      Polo
Run     168000
Year      2015
Cost      9750
Name: 44, dtype: object
0.8035447651353267
Mark      Polo
Run     200000
Year      1996
Cost      1400
Name: 45, dtype: object
0.43376708184752055
Mark      Polo
Run     290000
Year      2003
Cost      3800
Name: 46, dtype: object
0.4563487695414208
Mark      Polo
Run     150000
Year      2010
Cost      6200
Name: 47, dtype: object
0.5681172542682441
Mark      Polo
Run     183000
Year      2002
Cost      4500
Name: 48, dtype: object
0.46994832602208403
Mark      Polo
Run     397000
Year      1992
Cost       912
Name: 49, dtype: object
0.39225538368559665
Mark      Polo
Run     101000
Year      2009
Cost      5900
Name: 50, dtype: object
0.5754958500874539
Mark      Polo
Run     290000
Year      1998
Cost       550
Name: 51, dtype: object
0.4275934592310882
Mark      Polo
Run     203000
Year      2001
Cost      2750
Name: 52, dtype: object
0.4587871438614057
Mark      Polo
Run     249318
Year      2004
Cost      4000
Name: 53, dtype: object
0.4703352848943494
Mark      Polo
Run     193000
Year      2008
Cost      5290
Name: 54, dtype: object
0.5228370660450876
Mark      Polo
Run     140000
Year      2011
Cost      6000
Name: 55, dtype: object
0.5935034876412214
Mark     Polo
Run     93072
Year     2015
Cost     7900
Name: 56, dtype: object
0.857722790381916
Mark      Polo
Run     256000
Year      2008
Cost      4550
Name: 57, dtype: object
0.508791248595053
Mark      Polo
Run     310000
Year      1998
Cost      2600
Name: 58, dtype: object
0.4249609227479366
Mark      Polo
Run     256800
Year      1999
Cost      2400
Name: 59, dtype: object
0.4374616246796757
Mark      Polo
Run     132000
Year      2009
Cost      5950
Name: 60, dtype: object
0.5583806728254496
Mark      Polo
Run     156000
Year      2008
Cost      5599
Name: 61, dtype: object
0.5341761051312278
Mark      Polo
Run     239222
Year      2007
Cost      4950
Name: 62, dtype: object
0.5001507054125996
Mark      Polo
Run     268000
Year      1997
Cost      2650
Name: 63, dtype: object
0.4261225658251311
Mark      Polo
Run     212000
Year      2001
Cost      2450
Name: 64, dtype: object
0.4568522826461452
Mark      Polo
Run     310000
Year      1995
Cost      1250
Name: 65, dtype: object
0.41205922221353203
Mark      Polo
Run     150000
Year      2009
Cost      4000
Name: 66, dtype: object
0.5508693656021499
Mark      Polo
Run     290000
Year      1999
Cost      1900
Name: 67, dtype: object
0.43250961845881103
Mark      Polo
Run     333333
Year      2000
Cost      1950
Name: 68, dtype: object
0.4321979458515541
Mark      Polo
Run     349000
Year      1999
Cost      1950
Name: 69, dtype: object
0.42520104722092744
Mark      Polo
Run     168000
Year      2007
Cost      5400
Name: 70, dtype: object
0.517799437419508
Mark      Polo
Run     129000
Year      2009
Cost      8000
Name: 71, dtype: object
0.5597715119401186
Mark      Polo
Run     325000
Year      1995
Cost      1400
Name: 72, dtype: object
0.410271144633694
Mark      Polo
Run     300000
Year      1999
Cost      2350
Name: 73, dtype: object
0.43115150066568714
Mark      Polo
Run     214000
Year      2002
Cost      2500
Name: 74, dtype: object
0.4627782160639202
Mark      Polo
Run     143000
Year      2002
Cost      3650
Name: 75, dtype: object
0.481967613193863
Mark      Polo
Run     191000
Year      2006
Cost      4750
Name: 76, dtype: object
0.5005312266496623
Mark      Polo
Run     276000
Year      2002
Cost      3650
Name: 77, dtype: object
0.45171356632979925
Mark      Polo
Run     198525
Year      2001
Cost      2550
Name: 78, dtype: object
0.4597902103279206
Mark      Polo
Run     270000
Year      1998
Cost      2300
Name: 79, dtype: object
0.4304551374958644
Mark      Polo
Run     274000
Year      2002
Cost      2500
Name: 80, dtype: object
0.4520209607212635
Mark      Polo
Run     252253
Year      1993
Cost       700
Name: 81, dtype: object
0.41249351969780923
Mark      Polo
Run     145000
Year      2010
Cost      5700
Name: 82, dtype: object
0.5701357358345114
Mark      Polo
Run     226067
Year      2007
Cost      4060
Name: 83, dtype: object
0.5028646683037885
Mark      Polo
Run     212000
Year      2008
Cost      5000
Name: 84, dtype: object
0.5180552194360857
Mark      Polo
Run     122000
Year      2010
Cost      6300
Name: 85, dtype: object
0.5808367646156343
Mark      Polo
Run     236738
Year      2001
Cost      1973
Name: 86, dtype: object
0.4520259722533641
Mark      Polo
Run     250000
Year      2001
Cost      3000
Name: 87, dtype: object
0.4496899600522436
Mark      Polo
Run     141000
Year      2007
Cost      4350
Name: 88, dtype: object
0.5272799408096094
Mark      Polo
Run     230000
Year      2008
Cost      4550
Name: 89, dtype: object
0.5139996654177228
Mark      Polo
Run     250000
Year      1999
Cost      2888
Name: 90, dtype: object
0.43857276513382776
Mark      Polo
Run     145000
Year      2010
Cost      6000
Name: 91, dtype: object
0.5701357358345114
Mark      Polo
Run     178000
Year      2007
Cost      3800
Name: 92, dtype: object

0.5147895098876404
Mark      Polo
Run     345321
Year      2002
Cost      3399
Name: 93, dtype: object
0.4424643841938869
Mark      Polo
Run     354000
Year      2000
Cost      2600
Name: 94, dtype: object
0.42983052337058825
Mark      Polo
Run     260000
Year      1997
Cost      1950
Name: 95, dtype: object
0.42733843985854214
Mark      Polo
Run     300000
Year      1997
Cost      1200
Name: 96, dtype: object
0.4216663708626747
Mark      Polo
Run     139000
Year      2008
Cost      4608
Name: 97, dtype: object
0.5406669147620745
Mark      Polo
Run     253646
Year      2004
Cost      3650
Name: 98, dtype: object
0.46956997843343873
Mark      Polo
Run     199000
Year      2008
Cost      4500
Name: 99, dtype: object
0.521264453962013
Mark      Polo
Run     100000
Year      2009
Cost      5500
Name: 100, dtype: object
0.5761765188491855
Mark      Polo
Run     130000
Year      2007
Cost      4800
Name: 101, dtype: object
0.5318855169238877
Mark      Polo
Run     152000
Year      2008
Cost      5200
Name: 102, dtype: object
0.5356141190578283
Mark      Polo
Run     234567
Year      1997
Cost      1800
Name: 103, dtype: object
0.43153197584935177
Mark      Polo
Run     247305
Year      1998
Cost      2999
Name: 104, dtype: object
0.43403327156924765
Mark      Polo
Run     280000
Year      1996
Cost       700
Name: 105, dtype: object
0.42004807633844
Mark      Polo
Run     245000
Year      1998
Cost      1950
Name: 106, dtype: object
0.434419149145628
Mark      Polo
Run     119000
Year      2010
Cost      6300
Name: 107, dtype: object
0.5824436516572631
Mark      Polo
Run     145000
Year      2006
Cost      4550
Name: 108, dtype: object
0.5147644105565787
Mark     Polo
Run     88650
Year     1996
Cost     1391
Name: 109, dtype: object
0.47399271423397826
Mark      Polo
Run     280000
Year      2003
Cost      2999
Name: 110, dtype: object
0.4578427366628261
Mark      Polo
Run     157000
Year      2008
Cost      6000
Name: 111, dtype: object
0.5338243245143655
Mark     Polo
Run     58000
Year     2008
Cost     5000
Name: 112, dtype: object
0.6055065331105507
Mark      Polo
Run     100000
Year      1997
Cost       800
Name: 113, dtype: object
0.47187225561016866
Mark      Polo
Run     174000
Year      2011
Cost      7400
Name: 114, dtype: object
0.5803310283584141
Mark     Polo
Run     63000
Year     2009
Cost     6000
Name: 115, dtype: object
0.6134383132106624
Mark    Polo
Run      350
Year    1990
Cost    1000
Name: 116, dtype: object
0.570611765114943
Mark      Polo
Run     187000
Year      2011
Cost      6300
Name: 117, dtype: object
0.5761660903690522
Mark      Polo
Run     152000
Year      2004
Cost      3650
Name: 118, dtype: object
0.4938940166845395
Mark      Polo
Run     200000
Year      1996
Cost      1200
Name: 119, dtype: object
0.43376708184752055
Mark      Polo
Run     105000
Year      2011
Cost      7436
Name: 120, dtype: object
0.6127512800617652
Mark    Polo
Run        1
Year    1982
Cost     306
Name: 121, dtype: object
0.5413312699028908
Mark      Polo
Run     194589
Year      2001
Cost      3600
Name: 122, dtype: object
0.46069660762875475
Mark      Polo
Run     125000
Year      2011
Cost      8500
Name: 123, dtype: object
0.6007987660551068
Mark      Polo
Run     260000
Year      2000
Cost      1500
Name: 124, dtype: object
0.442281408309872
Mark      Polo
Run     280876
Year      1991
Cost      1000
Name: 125, dtype: object
0.4015969494381868
Mark    Polo
Run      125
Year    1996
Cost    1450
Name: 126, dtype: object
0.6017318418938274
Mark      Polo
Run     227000
Year      1995
Cost      1962
Name: 127, dtype: object
0.42431067251698057
Mark     Polo
Run     44000
Year     2015
Cost    11406
Name: 128, dtype: object
0.9723501011044507
Mark    Polo
Run      156
Year    2006
Cost    4999
Name: 129, dtype: object
0.6911485787258288
Mark      Polo
Run     180000
Year      1997
Cost      1900
Name: 130, dtype: object
0.4428347311501331
Mark      Polo
Run     214000
Year      2003
Cost      3650
Name: 131, dtype: object
0.4696884106425735
Mark      Polo
Run     182000
Year      2008
Cost      4500
Name: 132, dtype: object
0.5258901505443645
Mark      Polo
Run     100000
Year      1993
Cost       400
Name: 133, dtype: object
0.4541816629703254
Mark      Polo
Run     200000
Year      2007
Cost      5475
Name: 134, dtype: object
0.5088784831020509
Mark      Polo
Run     120000
Year      2009
Cost      6500
Name: 135, dtype: object
0.5642352085844289
Mark      Polo
Run     375000
Year      1997
Cost      2300
Name: 136, dtype: object
0.4131404217785456
Mark     Polo
Run     76000
Year     2008
Cost     7500
Name: 137, dtype: object
0.5809679617369593
Mark      Polo
Run     300000
Year      1997
Cost      1300
Name: 138, dtype: object
0.4216663708626747
Mark      Polo
Run     144000
Year      2010
Cost      5700
Name: 139, dtype: object
0.5705508354602858
Mark      Polo
Run     450000
Year      1998
Cost      1600
Name: 140, dtype: object
0.4108418959960617
Mark      Polo
Run     300000
Year      1997
Cost      1450
Name: 141, dtype: object
0.4216663708626747
Mark      Polo
Run     220000
Year      2005
Cost      4050
Name: 142, dtype: object
0.48434928491564827
Mark      Polo
Run     211000
Year      2005
Cost      4850
Name: 143, dtype: object
0.48631192040792004
Mark      Polo
Run     200000
Year      1996
Cost      1500
Name: 144, dtype: object
0.43376708184752055
Mark      Polo
Run     173200
Year      2001
Cost      3400
Name: 145, dtype: object
0.4660721615742008
Mark      Polo
Run     240000
Year      2002
Cost      3700
Name: 146, dtype: object
0.4577089995029869
Mark      Polo
Run     123000
Year      2010
Cost      6000
Name: 147, dtype: object
0.5803137187984879
Mark      Polo
Run     215876
Year      1998
Cost      1300
Name: 148, dtype: object
0.43972067821642247
Mark      Polo
Run     238000
Year      2007
Cost      3900
Name: 149, dtype: object
0.5003949139751913
Mark      Polo
Run     285000
Year      2001
Cost      3300
Name: 150, dtype: object
0.4441913187678148
Mark      Polo
Run     226000
Year      1998
Cost      1250
Name: 151, dtype: object
0.4377815887640811
Mark      Polo
Run     278000
Year      2000
Cost      2750
Name: 152, dtype: object
0.4395129711452553
Mark      Polo
Run     112900
Year      2002
Cost      2400
Name: 153, dtype: object
0.49457047023271605
Mark     Polo
Run     90000
Year     2008
Cost     5900
Name: 154, dtype: object
0.5682455783566555
Mark    Polo
Run      170
Year    2004
Cost    2900
Name: 155, dtype: object
0.6663742221249209
Mark    Polo
Run      111
Year    2001
Cost    3100
Name: 156, dtype: object
0.6373935977782449
Mark      Polo
Run     170000
Year      1998
Cost      2950
Name: 157, dtype: object
0.4502304141963103
Mark      Polo
Run     299000
Year      2008
Cost      5200
Name: 158, dtype: object
0.5014596338971079
Mark     Polo
Run     99000
Year     2010
Cost     6250
Name: 159, dtype: object
0.5949297120165148
Mark      Polo
Run     280000
Year      2004
Cost      3700
Name: 160, dtype: object
0.46523111189864447
Mark      Polo
Run     210000
Year      1999
Cost      2000
Name: 161, dtype: object
0.4459684889800147
Mark      Polo
Run     220000
Year      1999
Cost      2200
Name: 162, dtype: object
0.44396365245466674
Mark      Polo
Run     271000
Year      2003
Cost      2950
Name: 163, dtype: object
0.4592437374126624
Mark     Polo
Run     65000
Year     2018
Cost    10037
Name: 164, dtype: object
1.0348251984535566
Mark    Polo
Run      200
Year    1991
Cost     500
Name: 165, dtype: object
0.5753472217079949
Mark      Polo
Run     340000
Year      2002
Cost      4000
Name: 166, dtype: object
0.44309234971407785
Mark      Polo
Run     255000
Year      2006
Cost      3900
Name: 167, dtype: object
0.48676363261283123
Mark      Polo
Run     300000
Year      1997
Cost       750
Name: 168, dtype: object
0.4216663708626747
Mark      Polo
Run     176000
Year      2008
Cost      3800
Name: 169, dtype: object
0.527658086194199
Mark    Polo
Run        0
Year    2008
Cost    4950
Name: 170, dtype: object
0.7230063425764677
Mark      Polo
Run     114000
Year      2011
Cost      5500
Name: 171, dtype: object
0.6069916618692692
Mark      Polo
Run     121000
Year      2010
Cost      6400
Name: 172, dtype: object
0.5813660060812871
Mark      Polo
Run     180000
Year      2008
Cost      4900
Name: 173, dtype: object
0.5264709322005608
Mark    Polo
Run      211
Year    1997
Cost     500
Name: 174, dtype: object
0.6077905455849896
Mark      Polo
Run     247000
Year      1995
Cost      1300
Name: 175, dtype: object
0.42090539903764634
Mark    Polo
Run      317
Year    2001
Cost    2800
Name: 176, dtype: object
0.6370263509332488
Mark      Polo
Run     260000
Year      2002
Cost      3000
Name: 177, dtype: object
0.4542522354251881
Mark      Polo
Run     275300
Year      1998
Cost       950
Name: 178, dtype: object
0.4296723132152287
Mark      Polo
Run     170000
Year      2007
Cost      4600
Name: 179, dtype: object
0.5171789361569353
Mark      Polo
Run     235000
Year      1998
Cost      1699
Name: 180, dtype: object
0.43614678675448276
Mark    Polo
Run        1
Year    1991
Cost     500
Name: 181, dtype: object
0.5756664195684397
Mark      Polo
Run     324000
Year      1996
Cost       958
Name: 182, dtype: object
0.41441142812053017
Mark      Polo
Run     320000
Year      1999
Cost      2000
Name: 183, dtype: object
0.42859166008198407
Mark    Polo
Run      165
Year    2007
Cost    4500
Name: 184, dtype: object
0.7058493215723758
Mark      Polo
Run     500000
Year      2001
Cost      3500
Name: 185, dtype: object
0.422124209183376
Mark      Polo
Run     140000
Year      2010
Cost      6400
Name: 186, dtype: object
0.5722516138830815
Mark      Polo
Run     178000
Year      2004
Cost      3700
Name: 187, dtype: object
0.4860063472305447
Mark    Polo
Run      100
Year    2001
Cost    2300
Name: 188, dtype: object
0.6374131427256191
Mark      Polo
Run     152000
Year      2008
Cost      5250
Name: 189, dtype: object
0.5356141190578283
Mark      Polo
Run     291000
Year      1997
Cost      1700
Name: 190, dtype: object
0.4228593172048751
Mark      Polo
Run     299000
Year      1998
Cost      1000
Name: 191, dtype: object
0.4263826020981405
Mark      Polo
Run     245000
Year      2007
Cost      3900
Name: 192, dtype: object
0.4990165620027945
Mark    Polo
Run      280
Year    1998
Cost    1350
Name: 193, dtype: object
0.6142797979326506
Mark      Polo
Run     299561
Year      1995
Cost       700
Name: 194, dtype: object
0.4133659687092037
Mark      Polo
Run     300000
Year      2003
Cost      4000
Name: 195, dtype: object
0.45491579474194027
Mark     Polo
Run     52000
Year     2008
Cost     7800
Name: 196, dtype: object
0.6177983999812092
Mark      Polo
Run     300000
Year      2002
Cost      3000
Name: 197, dtype: object
0.44822293925021367
Mark      Polo
Run     280000
Year      1997
Cost      1900
Name: 198, dtype: object
0.4243793849891811
Mark      Polo
Run     218000
Year      1996
Cost      1400
Name: 199, dtype: object
0.43014430774126367
10714.782719352803

In [115]:
data3 = pd.DataFrame(get_data_about_smb('DATA1.csv', ['Fiesta'], ['Run', 'int'], ['Year', 'int'], ['Cost', 'int']))

In [116]:
print(data3)

       Mark     Run  Year  Cost
0    Fiesta  115000  2009  6750
1    Fiesta  149000  2009  6700
2    Fiesta   91000  2017  8699
3    Fiesta   65000  2015  8400
4    Fiesta   41000  2016  9900
..      ...     ...   ...   ...
180  Fiesta   94000  2007  4300
181  Fiesta   62000  2015  9600
182  Fiesta   10000  1993   456
183  Fiesta    1000  2005  3400
184  Fiesta  180000  1999   800

[185 rows x 4 columns]

In [118]:
C = 0
cnt = 0
for x in range(len(data3.index)):

    d = data3.loc[x]
    print(d)
    c = coefficient(d, 2015, 100000)
    print(c)
    if abs(c-1) < 0.1:
        C += d['Cost']/c
        cnt += 1

print(C/cnt)

Mark    Fiesta
Run     115000
Year      2009
Cost      6750
Name: 0, dtype: object
0.6756090809316059
Mark    Fiesta
Run     149000
Year      2009
Cost      6700
Name: 1, dtype: object
0.6121437362215901
Mark    Fiesta
Run      91000
Year      2017
Cost      8699
Name: 2, dtype: object
1.148698354997035
Mark    Fiesta
Run      65000
Year      2015
Cost      8400
Name: 3, dtype: object
1.1100409583315622
Mark    Fiesta
Run      41000
Year      2016
Cost      9900
Name: 4, dtype: object
1.1594116705626867
Mark    Fiesta
Run      93000
Year      2012
Cost      8000
Name: 5, dtype: object
0.8027415617602306
Mark    Fiesta
Run     234000
Year      2010
Cost      4750
Name: 6, dtype: object
0.5838221921166964
Mark    Fiesta
Run     350000
Year      1989
Cost       350
Name: 7, dtype: object
0.39857525230286234
Mark    Fiesta
Run      57000
Year      2017
Cost      8999
Name: 8, dtype: object
1.2971644475464226
Mark    Fiesta
Run      50869
Year      2014
Cost      7820
Name: 9, dtype: object
1.1418602822148776
Mark    Fiesta
Run     172000
Year      2010
Cost      5999
Name: 10, dtype: object
0.6148393070573175
Mark    Fiesta
Run     175000
Year      1999
Cost       750
Name: 11, dtype: object
0.4855726662208624
Mark    Fiesta
Run      50583
Year      2012
Cost      6700
Name: 12, dtype: object
0.9170621739022197
Mark    Fiesta
Run     176000
Year      2009
Cost      5400
Name: 13, dtype: object
0.5901584329026984
Mark    Fiesta
Run     178000
Year      2007
Cost      4340
Name: 14, dtype: object
0.5559564661191241
Mark    Fiesta
Run     299000
Year      1997
Cost       990
Name: 15, dtype: object
0.4372277747946475
Mark    Fiesta
Run     160000
Year      2009
Cost      6700
Name: 16, dtype: object
0.6018992641659404
Mark    Fiesta
Run      88500
Year      2009
Cost      6399
Name: 17, dtype: object
0.7070138204093287
Mark    Fiesta
Run     136000
Year      2010
Cost      5400
Name: 18, dtype: object
0.6513995547886704
Mark    Fiesta
Run     100000
Year      1994
Cost       400
Name: 19, dtype: object
0.5439464428888785
Mark    Fiesta
Run     153000
Year      2009
Cost      5350
Name: 20, dtype: object
0.6081538038029821
Mark    Fiesta
Run      78000
Year      2016
Cost      8500
Name: 21, dtype: object
1.0679114018529572
Mark    Fiesta
Run     220000
Year      2006
Cost      3500
Name: 22, dtype: object
0.5238654148100242
Mark    Fiesta
Run     135000
Year      2010
Cost      5480
Name: 23, dtype: object
0.652930559217445
Mark    Fiesta
Run     234323
Year      1994
Cost       330
Name: 24, dtype: object
0.4380700972331962
Mark    Fiesta
Run     115000
Year      2009
Cost      6750
Name: 25, dtype: object
0.6756090809316059
Mark    Fiesta
Run     149000
Year      2009
Cost      6700
Name: 26, dtype: object
0.6121437362215901
Mark    Fiesta
Run      91000
Year      2017
Cost      8699
Name: 27, dtype: object
1.148698354997035
Mark    Fiesta
Run      65000
Year      2015
Cost      8400
Name: 28, dtype: object
1.1100409583315622
Mark    Fiesta
Run      41000
Year      2016
Cost      9900
Name: 29, dtype: object
1.1594116705626867
Mark    Fiesta
Run      93000
Year      2012
Cost      8000
Name: 30, dtype: object
0.8027415617602306
Mark    Fiesta
Run     234000
Year      2010
Cost      4750
Name: 31, dtype: object
0.5838221921166964
Mark    Fiesta
Run     350000
Year      1989
Cost       350
Name: 32, dtype: object
0.39857525230286234
Mark    Fiesta
Run      57000
Year      2017
Cost      8999
Name: 33, dtype: object
1.2971644475464226
Mark    Fiesta
Run      50869
Year      2014
Cost      7820
Name: 34, dtype: object
1.1418602822148776
Mark    Fiesta
Run     172000
Year      2010
Cost      5999
Name: 35, dtype: object
0.6148393070573175
Mark    Fiesta
Run     175000
Year      1999
Cost       750
Name: 36, dtype: object
0.4855726662208624
Mark    Fiesta
Run      50583
Year      2012
Cost      6700
Name: 37, dtype: object
0.9170621739022197
Mark    Fiesta
Run     176000
Year      2009
Cost      5400
Name: 38, dtype: object
0.5901584329026984
Mark    Fiesta
Run     178000
Year      2007
Cost      4340
Name: 39, dtype: object
0.5559564661191241
Mark    Fiesta
Run     299000
Year      1997
Cost       990
Name: 40, dtype: object
0.4372277747946475
Mark    Fiesta
Run     160000
Year      2009
Cost      6700
Name: 41, dtype: object
0.6018992641659404
Mark    Fiesta
Run      88500
Year      2009
Cost      6399
Name: 42, dtype: object
0.7070138204093287
Mark    Fiesta
Run     136000
Year      2010
Cost      5400
Name: 43, dtype: object
0.6513995547886704
Mark    Fiesta
Run     100000
Year      1994
Cost       400
Name: 44, dtype: object
0.5439464428888785
Mark    Fiesta
Run     153000
Year      2009
Cost      5350
Name: 45, dtype: object
0.6081538038029821
Mark    Fiesta
Run      78000
Year      2016
Cost      8500
Name: 46, dtype: object
1.0679114018529572
Mark    Fiesta
Run     220000
Year      2006
Cost      3500
Name: 47, dtype: object
0.5238654148100242
Mark    Fiesta
Run     135000
Year      2010
Cost      5480
Name: 48, dtype: object
0.652930559217445
Mark    Fiesta
Run     234323
Year      1994
Cost       330
Name: 49, dtype: object
0.4380700972331962
Mark    Fiesta
Run      77000
Year      2013
Cost      6850
Name: 50, dtype: object
0.9331210511676338
Mark    Fiesta
Run      50000
Year      2013
Cost      7600
Name: 51, dtype: object
0.9955005429479107
Mark    Fiesta
Run     177000
Year      2008
Cost      4850
Name: 52, dtype: object
0.5716183538240538
Mark    Fiesta
Run      66000
Year      1990
Cost       500
Name: 53, dtype: object
0.5817038096008458
Mark    Fiesta
Run        180
Year      1998
Cost      1600
Name: 54, dtype: object
0.6873506476036609
Mark    Fiesta
Run     217000
Year      2009
Cost      5800
Name: 55, dtype: object
0.5693171432260894
Mark    Fiesta
Run      82600
Year      1998
Cost      1500
Name: 56, dtype: object
0.5942319331133021
Mark    Fiesta
Run      66000
Year      1985
Cost       200
Name: 57, dtype: object
0.560874452766907
Mark    Fiesta
Run     300000
Year      1993
Cost       350
Name: 58, dtype: object
0.41985206883755344
Mark    Fiesta
Run     200000
Year      1993
Cost      1500
Name: 59, dtype: object
0.4448177720237862
Mark    Fiesta
Run      40680
Year      1995
Cost       867
Name: 60, dtype: object
0.6371290824769599
Mark    Fiesta
Run     350000
Year      1992
Cost       200
Name: 61, dtype: object
0.40846931031254435
Mark    Fiesta
Run     230000
Year      2008
Cost      4450
Name: 62, dtype: object
0.5472071700492165
Mark    Fiesta
Run      97500
Year      2015
Cost      7900
Name: 63, dtype: object
1.0
Mark    Fiesta
Run     130000
Year      2009
Cost      4500
Name: 64, dtype: object
0.6376900569058301
Mark    Fiesta
Run     156000
Year      2005
Cost      3600
Name: 65, dtype: object
0.5465765534095062
Mark    Fiesta
Run     197000
Year      2002
Cost      3050
Name: 66, dtype: object
0.49542777619316075
Mark    Fiesta
Run     250000
Year      1997
Cost       456
Name: 67, dtype: object
0.44764928386393
Mark    Fiesta
Run     138000
Year      2009
Cost      6199
Name: 68, dtype: object
0.6252510794853254
Mark    Fiesta
Run     230000
Year      1997
Cost      1050
Name: 69, dtype: object
0.4530194894447639
Mark    Fiesta
Run     150000
Year      2009
Cost      4650
Name: 70, dtype: object
0.6111140231944989
Mark    Fiesta
Run        204
Year      2003
Cost      3500
Name: 71, dtype: object
0.7369248108814022
Mark    Fiesta
Run      61200
Year      2016
Cost      8450
Name: 72, dtype: object
1.119616552449722
Mark    Fiesta
Run     999999
Year      1991
Cost       200
Name: 73, dtype: object
0.36400240192535627
Mark    Fiesta
Run     270000
Year      1999
Cost      1095
Name: 74, dtype: object
0.4535640173918636
Mark    Fiesta
Run      85000
Year      2015
Cost      7850
Name: 75, dtype: object
1.0343660831319166
Mark    Fiesta
Run     350000
Year      1994
Cost       650
Name: 76, dtype: object
0.41596916684990154
Mark    Fiesta
Run     104000
Year      2013
Cost      7300
Name: 77, dtype: object
0.8705505632961241
Mark    Fiesta
Run     260000
Year      1992
Cost       650
Name: 78, dtype: object
0.4239465456099707
Mark    Fiesta
Run     190000
Year      2006
Cost      4850
Name: 79, dtype: object
0.5365760560535131
Mark    Fiesta
Run     289000
Year      1992
Cost       800
Name: 80, dtype: object
0.4181023569457412
Mark    Fiesta
Run      85000
Year      1993
Cost       700
Name: 81, dtype: object
0.5574292265144115
Mark    Fiesta
Run     175000
Year      2008
Cost      4500
Name: 82, dtype: object
0.5728733508651619
Mark    Fiesta
Run     300000
Year      1997
Cost       600
Name: 83, dtype: object
0.4370451777248151
Mark    Fiesta
Run      36220
Year      1996
Cost       544
Name: 84, dtype: object
0.6475992285325123
Mark    Fiesta
Run      99999
Year      1996
Cost       400
Name: 85, dtype: object
0.5549441528283543
Mark    Fiesta
Run     195000
Year      2006
Cost      4590
Name: 86, dtype: object
0.5341638962207331
Mark    Fiesta
Run      74000
Year      2009
Cost      5350
Name: 87, dtype: object
0.7567472688843286
Mark    Fiesta
Run      59000
Year      2015
Cost      8400
Name: 88, dtype: object
1.1247741363480028
Mark    Fiesta
Run      95000
Year      2010
Cost      5100
Name: 89, dtype: object
0.7247796636776955
Mark    Fiesta
Run      58000
Year      2017
Cost     10500
Name: 90, dtype: object
1.294623362679123
Mark    Fiesta
Run      65000
Year      1998
Cost       500
Name: 91, dtype: object
0.6298675279703579
Mark    Fiesta
Run     170000
Year      2010
Cost      5500
Name: 92, dtype: object
0.6162843828102397
Mark    Fiesta
Run     284707
Year      2004
Cost      3050
Name: 93, dtype: object
0.4854910000261798
Mark    Fiesta
Run     125000
Year      2008
Cost      6250
Name: 94, dtype: object
0.6277962606922701
Mark    Fiesta
Run     300000
Year      1991
Cost       297
Name: 95, dtype: object
0.4126088941616588
Mark    Fiesta
Run      45235
Year      1992
Cost       870
Name: 96, dtype: object
0.6154550749016974
Mark    Fiesta
Run     400000
Year      1994
Cost       350
Name: 97, dtype: object
0.4096969238799311
Mark    Fiesta
Run      94000
Year      2015
Cost      8900

Name: 98, dtype: object
1.0
Mark    Fiesta
Run     290000
Year      2007
Cost      4200
Name: 99, dtype: object
0.5162014290661221
Mark    Fiesta
Run     350000
Year      1992
Cost       615
Name: 100, dtype: object
0.40846931031254435
Mark    Fiesta
Run     189000
Year      2009
Cost      4299
Name: 101, dtype: object
0.5824436516572631
Mark    Fiesta
Run     108000
Year      2015
Cost      8300
Name: 102, dtype: object
1.0
Mark    Fiesta
Run      91000
Year      2008
Cost      5290
Name: 103, dtype: object
0.6776109134004809
Mark    Fiesta
Run     300000
Year      1998
Cost      1600
Name: 104, dtype: object
0.44207000595129753
Mark    Fiesta
Run     114000
Year      2010
Cost      6500
Name: 105, dtype: object
0.704739579255457
Mark    Fiesta
Run     226000
Year      2000
Cost      1400
Name: 106, dtype: object
0.47106865022974
Mark    Fiesta
Run     109000
Year      2015
Cost      8000
Name: 107, dtype: object
1.0
Mark    Fiesta
Run      91000
Year      2010
Cost      6500
Name: 108, dtype: object
0.7247796636776955
Mark    Fiesta
Run      96000
Year      2007
Cost      4700
Name: 109, dtype: object
0.6597539553864471
Mark    Fiesta
Run     149000
Year      2008
Cost      6100
Name: 110, dtype: object
0.5935592152786445
Mark    Fiesta
Run      34000
Year      1995
Cost       550
Name: 111, dtype: object
0.6428199235695105
Mark    Fiesta
Run     241000
Year      2007
Cost      4350
Name: 112, dtype: object
0.5291925764115509
Mark    Fiesta
Run     200000
Year      2002
Cost      3300
Name: 113, dtype: object
0.49417184269586606
Mark    Fiesta
Run     275000
Year      2010
Cost      3500
Name: 114, dtype: object
0.5709781578187867
Mark    Fiesta
Run     300000
Year      1993
Cost      1050
Name: 115, dtype: object
0.41985206883755344
Mark    Fiesta
Run     157000
Year      1992
Cost       750
Name: 116, dtype: object
0.46202434656825875
Mark    Fiesta
Run     250000
Year      1995
Cost       300
Name: 117, dtype: object
0.43831506320743113
Mark    Fiesta
Run      42000
Year      1996
Cost       900
Name: 118, dtype: object
0.6424928208578714
Mark    Fiesta
Run     150000
Year      1992
Cost       600
Name: 119, dtype: object
0.46709684346660735
Mark    Fiesta
Run     139310
Year      2009
Cost      5100
Name: 120, dtype: object
0.6234876129320317
Mark    Fiesta
Run        400
Year      1992
Cost       400
Name: 121, dtype: object
0.646908281696618
Mark    Fiesta
Run      60000
Year      1997
Cost      1250
Name: 122, dtype: object
0.6296760353343909
Mark    Fiesta
Run      60000
Year      1991
Cost       300
Name: 123, dtype: object
0.5944692811208857
Mark    Fiesta
Run     200000
Year      1997
Cost       600
Name: 124, dtype: object
0.4630332363671407
Mark    Fiesta
Run      99999
Year      1997
Cost       900
Name: 125, dtype: object
0.5609775727230998
Mark    Fiesta
Run      81000
Year      2010
Cost      5999
Name: 126, dtype: object
0.7646020637198914
Mark    Fiesta
Run     230000
Year      2002
Cost      2400
Name: 127, dtype: object
0.48348467948541063
Mark    Fiesta
Run        123
Year      1991
Cost       200
Name: 128, dtype: object
0.6415736849010939
Mark    Fiesta
Run      75000
Year      2013
Cost     11800
Name: 129, dtype: object
0.939627390749212
Mark    Fiesta
Run     333333
Year      1993
Cost       800
Name: 130, dtype: object
0.4144932381789257
Mark    Fiesta
Run     140000
Year      2009
Cost      5500
Name: 131, dtype: object
0.6225841843153066
Mark    Fiesta
Run     192000
Year      2010
Cost      6200
Name: 132, dtype: object
0.6024074676005277
Mark    Fiesta
Run     137000
Year      2008
Cost      5880
Name: 133, dtype: object
0.6076174647886006
Mark    Fiesta
Run      56000
Year      2016
Cost     10500
Name: 134, dtype: object
1.1314127183087068
Mark    Fiesta
Run     118000
Year      2011
Cost      5050
Name: 135, dtype: object
0.7216311852922306
Mark    Fiesta
Run     999999
Year      1996
Cost       400
Name: 136, dtype: object
0.38141325135570503
Mark    Fiesta
Run     162000
Year      2008
Cost      5999
Name: 137, dtype: object
0.582033190719769
Mark    Fiesta
Run     189000
Year      1996
Cost      1050
Name: 138, dtype: object
0.4625231193193618
Mark    Fiesta
Run     201000
Year      2002
Cost      2200
Name: 139, dtype: object
0.49376224809164876
Mark    Fiesta
Run     222000
Year      2000
Cost      1950
Name: 140, dtype: object
0.47233677748760156
Mark    Fiesta
Run      65000
Year      1991
Cost       750
Name: 141, dtype: object
0.587890923802731
Mark    Fiesta
Run     123130
Year      2009
Cost      5750
Name: 142, dtype: object
0.651661075030759
Mark    Fiesta
Run     145000
Year      2009
Cost      5000
Name: 143, dtype: object
0.616503254800267
Mark    Fiesta
Run      93000
Year      2015
Cost      9750
Name: 144, dtype: object
1.0
Mark    Fiesta
Run     140000
Year      2007
Cost      4300
Name: 145, dtype: object
0.5877739531418044
Mark    Fiesta
Run     338000
Year      1993
Cost       800
Name: 146, dtype: object
0.4138097483914646
Mark    Fiesta
Run     200000
Year      2008
Cost      5600
Name: 147, dtype: object
0.5593028839040417
Mark    Fiesta
Run        260
Year      1997
Cost       700
Name: 148, dtype: object
0.6794924141532906
Mark    Fiesta
Run     155000
Year      1995
Cost       620
Name: 149, dtype: object
0.47653753069285437
Mark    Fiesta
Run     200000
Year      1995
Cost       400
Name: 150, dtype: object
0.4533782351075889
Mark    Fiesta
Run     160000
Year      2006
Cost      4300
Name: 151, dtype: object
0.5550160734024441
Mark    Fiesta
Run     162000
Year      2010
Cost      5350
Name: 152, dtype: object
0.6225487398102328
Mark    Fiesta
Run      68000
Year      1996
Cost       500
Name: 153, dtype: object
0.611427701842509
Mark    Fiesta
Run     111111
Year      1993
Cost       500
Name: 154, dtype: object
0.5341985459099143
Mark    Fiesta
Run     195000
Year      2001
Cost      1100
Name: 155, dtype: object
0.4889871266089208
Mark    Fiesta
Run     187000
Year      2009
Cost      5700
Name: 156, dtype: object
0.5835478574844215
Mark    Fiesta
Run       1111
Year      1993
Cost      1004
Name: 157, dtype: object
0.6522956203687804
Mark    Fiesta
Run     330000
Year      2005
Cost      2300
Name: 158, dtype: object
0.4858729042070879
Mark    Fiesta
Run     120000
Year      2008
Cost      4900
Name: 159, dtype: object
0.6395795351514935
Mark    Fiesta
Run     211000
Year      2009
Cost      6200
Name: 160, dtype: object
0.5718202113268147
Mark    Fiesta
Run     322000
Year      1991
Cost       411
Name: 161, dtype: object
0.40903612970948866
Mark    Fiesta
Run     225888
Year      1995
Cost       958
Name: 162, dtype: object
0.44476298848082824
Mark    Fiesta
Run     300000
Year      2001
Cost      1500
Name: 163, dtype: object
0.4595737626238519
Mark    Fiesta
Run     342000
Year      2001
Cost      1750
Name: 164, dtype: object
0.45233109691033235
Mark    Fiesta
Run     165000
Year      1994
Cost       400
Name: 165, dtype: object
0.4653860502291682
Mark    Fiesta
Run          0
Year      1992
Cost       456
Name: 166, dtype: object
0.6471243863038781
Mark    Fiesta
Run     150000
Year      2008
Cost      4000
Name: 167, dtype: object
0.5925607640650538
Mark    Fiesta
Run          1
Year      1998
Cost      1500
Name: 168, dtype: object
0.6874532779708299
Mark    Fiesta
Run     400000
Year      1992
Cost      1400
Name: 169, dtype: object
0.4023101548648979
Mark    Fiesta
Run     250000
Year      1996
Cost       850
Name: 170, dtype: object
0.4428347311501331
Mark    Fiesta
Run     170000
Year      1997
Cost      1200
Name: 171, dtype: object
0.4770025077990901
Mark    Fiesta
Run      25000
Year      2017
Cost     11400
Name: 172, dtype: object
1.3587131263405148
Mark    Fiesta
Run     555000
Year      1999
Cost      1000
Name: 173, dtype: object
0.41783843585080876
Mark    Fiesta
Run      17350
Year      2016
Cost     10800
Name: 174, dtype: object
1.1924410130461163
Mark    Fiesta
Run     160000
Year      2007
Cost      3550
Name: 175, dtype: object
0.5682455783566555
Mark    Fiesta
Run      68000
Year      1994
Cost      1100
Name: 176, dtype: object
0.5993106185656554
Mark    Fiesta
Run     611000
Year      1994
Cost       500
Name: 177, dtype: object
0.391911252184429
Mark    Fiesta
Run     133000
Year      2006
Cost      4500
Name: 178, dtype: object
0.5833671946146265
Mark    Fiesta
Run     250000
Year      2009
Cost      4900
Name: 179, dtype: object
0.5576505630060269
Mark    Fiesta
Run      94000
Year      2007
Cost      4300
Name: 180, dtype: object
0.6597539553864471
Mark    Fiesta
Run      62000
Year      2015
Cost      9600
Name: 181, dtype: object
1.1176743898576198
Mark    Fiesta
Run      10000
Year      1993
Cost       456
Name: 182, dtype: object
0.6471957742363018
Mark    Fiesta
Run       1000
Year      2005
Cost      3400
Name: 183, dtype: object
0.7637823172317886
Mark    Fiesta
Run     180000
Year      1999
Cost       800
Name: 184, dtype: object
0.4829681644624228
8346.42042184649

In [146]:
def get_cost(mark, year, run):
    data = pd.DataFrame(get_data_about_smb('DATA1.csv', [mark], ['Run', 'int'], ['Year', 'int'], ['Cost', 'int']))
    print(data)
    C = 0
    cnt = 0
    for x in range(len(data.index)):

        d = data.loc[x]
        print(d)
        c = coefficient(d, year, run)
        print(c)
        if abs(c-1) < 0.1:
            C += d['Cost']/c
            cnt += 1

    print(round(C/cnt, 2))

In [150]:
get_cost('3 ÑÐµÑÐ¸Ñ', 2013, 135000)

ValueError: invalid literal for int() with base 10: 'автомат'

In [139]:
def get_data_about_smb2(input_file, names, *parameters):
    data = []
    for name in names:
        with open(input_file, mode = 'r') as csvfile:
            reader = csv.DictReader(csvfile) 
            for row in reader:
                if (row['Title'] == name):
                    d = {'Title' : name}
                    for par in parameters:
                        if par[1] == 'int':
                            d[par[0]] = int(row[par[0]].replace(' ', ''))
                        else:
                            d[par[0]] = str(row[par[0]])
                    data.append(d)

    return data

In [141]:
def get_cost2(title, year, run):
    data = pd.DataFrame(get_data_about_smb2('DATA1.csv', [title], ['Run', 'int'], ['Year', 'int'], ['Cost', 'int']))
    print(data)
    C = 0
    cnt = 0
    for x in range(len(data.index)):

        d = data.loc[x]
        print(d)
        c = coefficient(d, year, run)
        print(c)
        if abs(c-1) < 0.1:
            C += d['Cost']/c
            cnt += 1

    print(round(C/cnt, 2))

In [144]:
get_cost2('Audi A4 B9', 2014, 30000)

        Title     Run  Year   Cost
0  Audi A4 B9  169000  2016  18950
1  Audi A4 B9  210000  2016  19800
2  Audi A4 B9  211000  2016  20900
3  Audi A4 B9  200000  2016  19950
4  Audi A4 B9   67000  2016  24000
Title    Audi A4 B9
Run          169000
Year           2016
Cost          18950
Name: 0, dtype: object
0.9224753411371098
Title    Audi A4 B9
Run          210000
Year           2016
Cost          19800
Name: 1, dtype: object
0.9028174756621759
Title    Audi A4 B9
Run          211000
Year           2016
Cost          20900
Name: 2, dtype: object
0.9024007575600195
Title    Audi A4 B9
Run          200000
Year           2016
Cost          19950
Name: 3, dtype: object
0.9071280347837272
Title    Audi A4 B9
Run           67000
Year           2016
Cost          24000
Name: 4, dtype: object
1.0300441868143606
22185.36